<div   class= "container">
    <div   class= "sevenday">
        <h2> Your Local Weather Forecast 
        </h2>

        <p>Current Position: {{ lat }} / {{ lng }}</p>
        <button (click)="currentForecast()">Get Forecast</button>
          
        <h2>Seven Day Forecast</h2>
         <div *ngIf="forecastWeather | async as f" class="columns">
        <div *ngFor="let day of f.daily.data" class="column">
  
            <img class="icon" src="{{ 'assets/Icons/' + day.icon + '.svg'}}">
          <h3>{{day.temperatureLow | number:'1.0-0'}}°C/{{day.temperatureHigh | number:'1.0-0'}}°C</h3>
          <h3>{{ day.time * 1000 | date: 'MMM d'  }}</h3>
          <p class= "dayText">{{ day.summary }}</p>
  
        </div>
        </div>
    </div>
</div>